/Java/TrabajoAcademico/SoftProgWS/target/
/Java/TrabajoAcademico/SoftProgDAO/target/
/Java/TrabajoAcademico/SoftProgPruebas/target/
/Java/TrabajoAcademico/SoftProgWR/target/
/Java/TrabajoAcademico/SoftProgDBManager/target/
/Java/TrabajoAcademico/SoftProgModelo/target/
/Java/TrabajoAcademico/SoftProgNegocio/target/
