<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="db.provider" value="MySql.Data.MySqlClient"/>
    <add key="db.host" value="redcom.cbmi2yku065f.us-east-1.rds.amazonaws.com"/>
    <add key="db.puerto" value="3306"/>
    <add key="db.basedatos" value="REDCOM"/>
    <add key="db.usuario" value="admin"/>
    <add key="db.password" value="claveprog320252"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OrdenCompraWSPortBinding1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00"
          maxBufferSize="20971520" maxReceivedMessageSize="20971520">
          <readerQuotas maxDepth="64" maxStringContentLength="20971520"
            maxArrayLength="20971520" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="DescuentoWSPortBinding1" />
        <binding name="CategoriaProductoWSPortBinding1" />
        <binding name="EmpresaWSPortBinding" />
        <binding name="ProductoWSPortBinding1" />
        <binding name="CuentaUsuarioWSPortBinding1" />
        <binding name="ClienteWSPortBinding1" />
        <binding name="OrdenCompraWSPortBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00"
          maxBufferSize="20971520" maxReceivedMessageSize="20971520">
          <readerQuotas maxDepth="64" maxStringContentLength="20971520"
            maxArrayLength="20971520" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="EmpresaWSPortBinding2" />
        <binding name="ProductoWSPortBinding" />
        <binding name="DetalleEnvioWSPortBinding" />
        <binding name="DescuentoWSPortBinding" />
        <binding name="EmpresaWSPortBinding1" />
        <binding name="ComprobantePagoWSPortBinding" />
        <binding name="OrdenCompraWSPortBinding2" />
        <binding name="CarritoComprasWSPortBinding" />
        <binding name="CuentaUsuarioWSPortBinding" />
        <binding name="NotificacionWSPortBinding" />
        <binding name="CategoriaProductoWSPortBinding" />
        <binding name="ClienteWSPortBinding" />
        <binding name="AdministradorSistemaWSPortBinding" />
        <binding name="LineaCarritoWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/SoftProgWS/OrdenCompraWS"
        binding="basicHttpBinding" bindingConfiguration="OrdenCompraWSPortBinding1"
        contract="SoftProgWS.OrdenCompraWS" name="OrdenCompraWSPort1" />
      <endpoint address="http://localhost:8080/SoftProgWS/DescuentoWS"
        binding="basicHttpBinding" bindingConfiguration="DescuentoWSPortBinding1"
        contract="ServicioDescuentoWS.DescuentoWS" name="DescuentoWSPort1" />
      <endpoint address="http://localhost:8080/SoftProgWS/CategoriaProductoWS"
        binding="basicHttpBinding" bindingConfiguration="CategoriaProductoWSPortBinding1"
        contract="ServicioCategoriaWS.CategoriaProductoWS" name="CategoriaProductoWSPort1" />
      <endpoint address="http://localhost:8080/SoftProgWS/EmpresaWS"
        binding="basicHttpBinding" bindingConfiguration="EmpresaWSPortBinding"
        contract="ServiceioEmpresaWS.EmpresaWS" name="EmpresaWSPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/ProductoWS"
        binding="basicHttpBinding" bindingConfiguration="ProductoWSPortBinding1"
        contract="ServiceioProductoWS.ProductoWS" name="ProductoWSPort1" />
      <endpoint address="http://localhost:8080/SoftProgWS/CuentaUsuarioWS"
        binding="basicHttpBinding" bindingConfiguration="CuentaUsuarioWSPortBinding1"
        contract="CuentaUsuarioWS.CuentaUsuarioWS" name="CuentaUsuarioWSPort1" />
      <endpoint address="http://localhost:8080/SoftProgWS/ClienteWS"
        binding="basicHttpBinding" bindingConfiguration="ClienteWSPortBinding1"
        contract="ServicioClienteWS.ClienteWS" name="ClienteWSPort1" />
      <endpoint address="http://localhost:8080/SoftProgWS/OrdenCompraWS"
        binding="basicHttpBinding" bindingConfiguration="OrdenCompraWSPortBinding"
        contract="SoftProgWS.OrdenCompraWS" name="OrdenCompraWSPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/ProductoWS"
        binding="basicHttpBinding" bindingConfiguration="ProductoWSPortBinding"
        contract="SoftProgWS.ProductoWS" name="ProductoWSPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/DetalleEnvioWS"
        binding="basicHttpBinding" bindingConfiguration="DetalleEnvioWSPortBinding"
        contract="SoftProgWS.DetalleEnvioWS" name="DetalleEnvioWSPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/DescuentoWS"
        binding="basicHttpBinding" bindingConfiguration="DescuentoWSPortBinding"
        contract="SoftProgWS.DescuentoWS" name="DescuentoWSPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/EmpresaWS"
        binding="basicHttpBinding" bindingConfiguration="EmpresaWSPortBinding1"
        contract="SoftProgWS.EmpresaWS" name="EmpresaWSPort1" />
      <endpoint address="http://localhost:8080/SoftProgWS/ComprobantePagoWS"
        binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding"
        contract="SoftProgWS.ComprobantePagoWS" name="ComprobantePagoWSPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/OrdenCompraWS"
        binding="basicHttpBinding" bindingConfiguration="OrdenCompraWSPortBinding2"
        contract="SoftProgWS.OrdenCompraWS" name="OrdenCompraWSPort2" />
      <endpoint address="http://localhost:8080/SoftProgWS/CarritoComprasWS"
        binding="basicHttpBinding" bindingConfiguration="CarritoComprasWSPortBinding"
        contract="SoftProgWS.CarritoComprasWS" name="CarritoComprasWSPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/CuentaUsuarioWS"
        binding="basicHttpBinding" bindingConfiguration="CuentaUsuarioWSPortBinding"
        contract="SoftProgWS.CuentaUsuarioWS" name="CuentaUsuarioWSPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/NotificacionWS"
        binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding"
        contract="SoftProgWS.NotificacionWS" name="NotificacionWSPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/CategoriaProductoWS"
        binding="basicHttpBinding" bindingConfiguration="CategoriaProductoWSPortBinding"
        contract="SoftProgWS.CategoriaProductoWS" name="CategoriaProductoWSPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/ClienteWS"
        binding="basicHttpBinding" bindingConfiguration="ClienteWSPortBinding"
        contract="SoftProgWS.ClienteWS" name="ClienteWSPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/AdministradorSistemaWS"
        binding="basicHttpBinding" bindingConfiguration="AdministradorSistemaWSPortBinding"
        contract="SoftProgWS.AdministradorSistemaWS" name="AdministradorSistemaWSPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/LineaCarritoWS"
        binding="basicHttpBinding" bindingConfiguration="LineaCarritoWSPortBinding"
        contract="SoftProgWS.LineaCarritoWS" name="LineaCarritoWSPort" />
    </client>
  </system.serviceModel>
</configuration>